---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm";
import SocialButton from "../components/SocialButton.astro";
import "../styles/global.css";

const pageTitle = "Contact";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="content">
    <h1 class="title" style="margin-top: 18px;">Contact</h1>
    <p style="margin: 18px 0 96px;">
      Have a question, correction or project for me? Send me a message! Like my work?
      Follow me on social media platforms!
    </p>
    <div class="page-content">
      <ContactForm client:load />
      <div>
        <SocialButton
            title="Instagram"
            link="https://www.instagram.com/gabsavard_code/"
            svg="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z"
        />
      </div>
    </div>
  </div>
</BaseLayout>
<style>
  .page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
</style>
