---
import "../styles/colors.css";

const { buttonWidth, buttonHeight, fontSize, title, pressHandler, borderRadius } = Astro.props;
---
<button class="button" role="button" onclick={pressHandler}>{title}</button>
<style define:vars={{ buttonWidth, buttonHeight, fontSize, borderRadius }}>
.button {
  appearance: none;
  background-color: var(--accent-main);
  border: 2px solid var(--accent-main);
  border-radius: var(--borderRadius);
  box-sizing: border-box;
  color: #272727;
  cursor: pointer;
  font-size: var(--fontSize);
  font-weight: 600;
  line-height: normal;
  outline: none;
  margin: auto;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  will-change: transform;
}

.button:hover {
  box-shadow: rgba(18, 201, 152, 0.30) 0 8px 15px;
  transform: translateY(-2px);
  color: #FFF;
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}
</style>
